:root[data-theme="light"] {
  --text: #07051a;
  --background: #fafafe;
  --primary: #5634db;
  --secondary: #b885e9;
  --accent: #534ab7;

  --footer-bg: #2c2c2a;

  --type-hero: 3.5rem;
  --type-h1: 2.25rem;
  --type-h2: 1.5rem;
  --type-body: 1rem;
  --type-small: 0.875rem;
  --type-label: 0.75rem;
}

:root[data-theme="dark"] {
  --text: #e7e5fa;
  --background: #010104;
  --primary: #4624cc;
  --secondary: #491679;
  --accent: #534ab7;

  --footer-bg: #2c2c2a;

  --type-hero: 3.5rem;
  --type-h1: 2.25rem;
  --type-h2: 1.5rem;
  --type-body: 1rem;
  --type-small: 0.875rem;
  --type-label: 0.75rem;
}

* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

body {
  color: var(--text);
  background-color: var(--background);
  font-size: var(--type-body);
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--accent);
}

a:hover {
  filter: brightness(0.8);
}

a:active {
  filter: brightness(0.6);
}

h1 {
  color: var(--text);
  font-size: var(--type-h1);
}

h2 {
  color: var(--secondary);
  font-size: var(--type-h2);
}
