:root[data-theme="light"] {
  --text: #120623;
  --background: #f2eefc;
  --primary: #682fda;
  --secondary: #ec93d0;
  --accent: #e36392;
}

:root[data-theme="dark"] {
  --text: #e8dcf9;
  --background: #070311;
  --primary: #5e25d0;
  --secondary: #6c1350;
  --accent: #9c1c4b;
}

body {
  color: var(--text);
  background-color: var(--background);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

a:hover {
  filter: brightness(0.8);
}

a:active {
  filter: brightness(0.6);
}

h1 {
  color: var(--primary);
}

h2 {
  color: var(--secondary);
}
